@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:600);
@import url(https://fonts.googleapis.com/css?family=Volkhov:700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular);

@font-face {
  font-family: "Google Sans";
  src: url("../fonts/googlesans_medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

/* Reset */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    max-width: 20rem;
}

a {
    color: inherit;
    text-decoration: none;
}
ul li {
    list-style: none;
}
img{
    vertical-align: top;
}
h1, h2, h3, h4, h5,h6{
    font-size: inherit;
    font-weight: inherit;
    
}
button{
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
}

